# Up-Stat 2021 - Introduction To Python & Pandas Tutorial

Author: Vi Ly  
Date: 21 Mar 2021  
LinkedIn: https://www.linkedin.com/in/vi-ly-2810ba59/

The easiest way to install Python and pandas is through Anaconda: https://www.anaconda.com/products/individual.

pandas is a very expansive package and this tutorial only covers a portion of its capability.  For further reading, refer to the documentation: https://pandas.pydata.org/docs/reference/index.html

This tutorial will use the **Auto MPG** Dataset from UCI Machine Learning Repository: https://archive.ics.uci.edu/ml/datasets/auto+mpg

# Importing Pandas

It is standard convention to alias **pandas** as **pd**.

In [1]:
import pandas as pd

Import additional libraries.

In [2]:
import os

import numpy as np

# Reading in Data

Python Variable Naming Rules
- Can only contain letters, numbers, and underscores
- Must start with either letter or underscore; cannot start with number
- Case-sensitive

Use pandas to read in a csv as a DataFrame and assign it to the variable mpg_df.

In [3]:
mpg_df = pd.read_csv(f'c:/users/{os.getlogin()}/desktop/mpg dataset.csv')

# Introduction

Get the column names by calling the **.columns** attribute

In [4]:
mpg_df.columns

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model_year', 'origin', 'car_name'],
      dtype='object')

Get the DataFrame dimensions by calling the **.shape** attribute.

In [103]:
mpg_df.shape

(406, 16)

Get the number of columns in the DataFrame.

In [104]:
len(mpg_df.columns)

16

Get the number of rows in the DataFrame.

In [105]:
len(mpg_df)

406

The **.head()** method by default returns the first 5 rows in the DataFrame.

In [8]:
mpg_df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,car_name
0,18.0,8,307.0,130.0,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,1,ford torino

Providing an integer to the **.head()** method returns the specified first X rows.

In [9]:
mpg_df.head(10)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,car_name
0,18.0,8,307.0,130.0,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,1,ford torino
5,15.0,8,429.0,198.0,4341,10.0,70,1,ford galaxie 500
6,14.0,8,454.0,220.0,4354,9.0,70,1,chevrolet impala
7,14.0,8,440.0,215.0,4312,8.5,70,1,plymouth fury iii
8,14.0,8,455.0,225.0,4425,10.0,70,1,pontiac catalina
9,15.0,8,390.0,190.0,3850,8.5,70,1,amc ambassador dpl

The **.tail()** method by default returns the last 5 rows in the DataFrame.

In [10]:
mpg_df.tail()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,car_name
401,27.0,4,140.0,86.0,2790,15.6,82,1,ford mustang gl
402,44.0,4,97.0,52.0,2130,24.6,82,2,vw pickup
403,32.0,4,135.0,84.0,2295,11.6,82,1,dodge rampage
404,28.0,4,120.0,79.0,2625,18.6,82,1,ford ranger
405,31.0,4,119.0,82.0,2720,19.4,82,1,chevy s-10

Similarly, providing an integer to the **.tail()** method provides the X last rows.

In [11]:
mpg_df.tail(10)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,car_name
396,26.0,4,156.0,92.0,2585,14.5,82,1,chrysler lebaron medallion
397,22.0,6,232.0,112.0,2835,14.7,82,1,ford granada l
398,32.0,4,144.0,96.0,2665,13.9,82,3,toyota celica gt
399,36.0,4,135.0,84.0,2370,13.0,82,1,dodge charger 2.2
400,27.0,4,151.0,90.0,2950,17.3,82,1,chevrolet camaro
401,27.0,4,140.0,86.0,2790,15.6,82,1,ford mustang gl
402,44.0,4,97.0,52.0,2130,24.6,82,2,vw pickup
403,32.0,4,135.0,84.0,2295,11.6,82,1,dodge rampage
404,28.0,4,120.0,79.0,2625,18.6,82,1,ford ranger
405,31.0,4,119.0,82.0,2720,19.4,82,1,chevy s-10

The **help()** function provides information on the function / method.

In [12]:
help(pd.DataFrame.head)

Help on function head in module pandas.core.generic:

head(self: ~FrameOrSeries, n: int = 5) -> ~FrameOrSeries
    Return the first `n` rows.

    This function returns the first `n` rows for the object based
    on position. It is useful for quickly testing if your object
    has the right type of data in it.

    For negative values of `n`, this function returns all rows except
    the last `n` rows, equivalent to ``df[:-n]``.

    Parameters
    ----------
    n : int, default 5
        Number of rows to select.

    Returns
    -------
    same type as caller
        The first `n` rows of the caller object.

    See Also
    --------
    DataFrame.tail: Returns the last `n` rows.

    Examples
    --------
    >>> df = pd.DataFrame({'animal': ['alligator', 'bee', 'falcon', 'lion',
    ...                    'monkey', 'parrot', 'shark', 'whale', 'zebra']})
    >>> df
          animal
    0  alligator
    1        bee
    2     falcon
    3       lion
    4     monkey
    5     parrot
    6      shark
    7      whale
    8      zebra

    Viewing the first 5 lines

    >>> df.head()
          animal
    0  alligator
    1        bee
    2     falcon
    3       lion
    4     monkey

    Viewing the first `n` lines (three in this case)

    >>> df.head(3)
          animal
    0  alligator
    1        bee
    2     falcon

    For negative values of `n`

    >>> df.head(-3)
          animal
    0  alligator
    1        bee
    2     falcon
    3       lion
    4     monkey
    5     parrot

The **.info()** method provides basic information on the DataFrame such as:
- \# of rows
- \# of columns
- column names
- how data is stored
- \# of missing values

In [13]:
mpg_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 406 entries, 0 to 405
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     406 non-null    int64
 2   displacement  406 non-null    float64
 3   horsepower    400 non-null    float64
 4   weight        406 non-null    int64
 5   acceleration  406 non-null    float64
 6   model_year    406 non-null    int64
 7   origin        406 non-null    int64
 8   car_name      406 non-null    object
dtypes: float64(4), int64(4), object(1)
memory usage: 28.7+ KB

## Accessing Columns

You can access a column in the DataFrame using **bracket** notation or **dot** notation.  The recommended approach is to use **bracket** notation.

#### Bracket Notation

In [14]:
mpg_df['cylinders']

0      8
1      8
2      8
3      8
4      8
      ..
401    4
402    4
403    4
404    4
405    4
Name: cylinders, Length: 406, dtype: int64

#### Dot Notation

In [15]:
mpg_df.cylinders

0      8
1      8
2      8
3      8
4      8
      ..
401    4
402    4
403    4
404    4
405    4
Name: cylinders, Length: 406, dtype: int64

Individual columns in a DataFrame are referred to as Series.

In [16]:
type(mpg_df)

pandas.core.frame.DataFrame

In [17]:
type(mpg_df['cylinders'])

pandas.core.series.Series

You can only use **bracket** notation to access several columns.  Note that this syntax uses double square bracket; additionally, it returns back a DataFrame instead of a Series.

In [18]:
mpg_df[['mpg', 'cylinders', 'displacement']]

      mpg  cylinders  displacement
0    18.0          8         307.0
1    15.0          8         350.0
2    18.0          8         318.0
3    16.0          8         304.0
4    17.0          8         302.0
..    ...        ...           ...
401  27.0          4         140.0
402  44.0          4          97.0
403  32.0          4         135.0
404  28.0          4         120.0
405  31.0          4         119.0

[406 rows x 3 columns]

## Descriptive Statistics

The **.value_counts()** method provides the counts for each unique value in the column.  The output will be in descending order with largest count first.

In [21]:
mpg_df['cylinders'].value_counts()

4    207
8    108
6     84
3      4
5      3
Name: cylinders, dtype: int64

When the argument **normalize=True** is provided to **.value_counts()** method, the output will be in percentages.

Note: **True** (along with its counterpart **False**) are reserved keywords in Python.

In [22]:
mpg_df['cylinders'].value_counts(normalize=True)

4    0.509852
8    0.266010
6    0.206897
3    0.009852
5    0.007389
Name: cylinders, dtype: float64

The **.describe()** method provides basic summary statistics including:
- count
- mean
- min
- max
- std dev
- 25th, 50th, 75th percentiles

In [19]:
mpg_df.describe()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
count,398.000000,406.000000,406.000000,400.000000,406.000000,406.000000,406.000000,406.000000
mean,23.514573,5.475369,194.779557,105.082500,2979.413793,15.519704,75.921182,1.568966
std,7.815984,1.712160,104.922458,38.768779,847.004328,2.803359,3.748737,0.797479
min,9.000000,3.000000,68.000000,46.000000,1613.000000,8.000000,70.000000,1.000000
25%,17.500000,4.000000,105.000000,75.750000,2226.500000,13.700000,73.000000,1.000000
50%,23.000000,4.000000,151.000000,95.000000,2822.500000,15.500000,76.000000,1.000000
75%,29.000000,8.000000,302.000000,130.000000,3618.250000,17.175000,79.000000,2.000000
max,46.600000,8.000000,455.000000,230.000000,5140.000000,24.800000,82.000000,3.000000

Providing a sequence of decimals to the **.describe()** method provides the specified percentiles and overrides the default percentiles.

In [20]:
mpg_df.describe([.1, .2, .3, .4, .5, .6, .7, .8, .9, 1])

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
count,398.000000,406.000000,406.000000,400.000000,406.000000,406.000000,406.000000,406.000000
mean,23.514573,5.475369,194.779557,105.082500,2979.413793,15.519704,75.921182,1.568966
std,7.815984,1.712160,104.922458,38.768779,847.004328,2.803359,3.748737,0.797479
min,9.000000,3.000000,68.000000,46.000000,1613.000000,8.000000,70.000000,1.000000
10%,14.000000,4.000000,90.000000,67.000000,1987.500000,12.000000,71.000000,1.000000
20%,16.000000,4.000000,98.000000,72.000000,2155.000000,13.200000,72.000000,1.000000
30%,18.000000,4.000000,112.000000,80.700000,2315.000000,14.000000,73.000000,1.000000
40%,20.000000,4.000000,122.000000,88.000000,2587.000000,14.800000,75.000000,1.000000
50%,23.000000,4.000000,151.000000,95.000000,2822.500000,15.500000,76.000000,1.000000
60%,25.000000,6.000000,225.000000,100.000000,3102.000000,16.000000,77.000000,1.000000
70%,27.490000,6.000000,250.000000,112.000000,3427.500000,16.800000,78.000000,2.000000
80%,31.000000,8.000000,305.000000,142.600000,3830.000000,17.700000,80.000000,2.000000
90%,34.330000,8.000000,350.000000,160.500000,4265.500000,19.000000,81.000000,3.000000
100%,46.600000,8.000000,455.000000,230.000000,5140.000000,24.800000,82.000000,3.000000
max,46.600000,8.000000,455.000000,230.000000,5140.000000,24.800000,82.000000,3.000000

Get the column mean with the **.mean()** method.

In [23]:
mpg_df['mpg'].mean()

23.514572864321615

Get the column min with the **.min()** method.

In [24]:
mpg_df['mpg'].min()

9.0

Get the column max with the **.min()** method.

In [25]:
mpg_df['mpg'].max()

46.6

Get the column std dev with the **.std()** method.

In [26]:
mpg_df['mpg'].std()

7.815984312565782

Get the column quantile with the **.quantile()** method.

In [27]:
mpg_df['mpg'].quantile(.3)

18.0

Get the column total with the **.sum()** method.

In [28]:
mpg_df['weight'].sum()

1209642

Some methods can be applied to multiple columns at once.

In [29]:
mpg_df[['mpg', 'displacement', 'horsepower']].min()

mpg              9.0
displacement    68.0
horsepower      46.0
dtype: float64

Additionally, they can be applied to the entire DataFrame.

In [30]:
mpg_df.min()

mpg                                   9
cylinders                             3
displacement                         68
horsepower                           46
weight                             1613
acceleration                          8
model_year                           70
origin                                1
car_name        amc ambassador brougham
dtype: object

Some methods can also be applied row-wise, by using the **axis=1** argument.  The example below calculates the row-wise minimum of mpg, displacement, and horsepower columns.

In [31]:
mpg_df[['mpg', 'displacement', 'horsepower']].min(axis=1)

0      18.0
1      15.0
2      18.0
3      16.0
4      17.0
       ...
401    27.0
402    44.0
403    32.0
404    28.0
405    31.0
Length: 406, dtype: float64

## Sorting

Sorting is done using the **.sort_values()** method.

In [32]:
mpg_df.head(10)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,car_name
0,18.0,8,307.0,130.0,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,1,ford torino
5,15.0,8,429.0,198.0,4341,10.0,70,1,ford galaxie 500
6,14.0,8,454.0,220.0,4354,9.0,70,1,chevrolet impala
7,14.0,8,440.0,215.0,4312,8.5,70,1,plymouth fury iii
8,14.0,8,455.0,225.0,4425,10.0,70,1,pontiac catalina
9,15.0,8,390.0,190.0,3850,8.5,70,1,amc ambassador dpl

Sort the DataFrame by the displacement column.  By default, sorting is done in ascending order.

In [33]:
displacement_ascending_df = mpg_df.sort_values(['displacement'])
displacement_ascending_df.head(10)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,car_name
124,29.0,4,68.0,49.0,1867,19.5,73,2,fiat 128
341,23.7,3,70.0,100.0,2420,12.5,80,3,mazda rx-7 gs
78,19.0,3,70.0,97.0,2330,13.5,72,3,mazda rx2 coupe
118,18.0,3,70.0,90.0,2124,13.5,73,3,maxda rx3
60,31.0,4,71.0,65.0,1773,19.0,71,3,toyota corolla 1200
138,32.0,4,71.0,65.0,1836,21.0,74,3,toyota corolla 1200
61,35.0,4,72.0,69.0,1613,18.0,71,3,datsun 1200
151,31.0,4,76.0,52.0,1649,16.5,74,3,toyota corona
253,32.8,4,78.0,52.0,1985,19.4,78,3,mazda glc deluxe
350,39.1,4,79.0,58.0,1755,16.9,81,3,toyota starlet

Sort the DataFrame by the displacement column in descending order, by using the ascending argument.

In [34]:
displacement_descending_df = mpg_df.sort_values(['displacement'], ascending=[False])
displacement_descending_df.head(10)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,car_name
19,14.0,8,455.0,225.0,3086,10.0,70,1,buick estate wagon (sw)
8,14.0,8,455.0,225.0,4425,10.0,70,1,pontiac catalina
102,12.0,8,455.0,225.0,4951,11.0,73,1,buick electra 225 custom
6,14.0,8,454.0,220.0,4354,9.0,70,1,chevrolet impala
101,13.0,8,440.0,215.0,4735,11.0,73,1,chrysler new yorker brougham
7,14.0,8,440.0,215.0,4312,8.5,70,1,plymouth fury iii
74,11.0,8,429.0,208.0,4633,11.0,72,1,mercury marquis
97,12.0,8,429.0,198.0,4952,11.5,73,1,mercury marquis brougham
5,15.0,8,429.0,198.0,4341,10.0,70,1,ford galaxie 500
98,13.0,8,400.0,150.0,4464,12.0,73,1,chevrolet caprice classic

Sorting by multiple columns.

In [35]:
multi_sort_df = mpg_df.sort_values(['displacement', 'mpg'], ascending=[False, True])
multi_sort_df.head(10)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,car_name
102,12.0,8,455.0,225.0,4951,11.0,73,1,buick electra 225 custom
8,14.0,8,455.0,225.0,4425,10.0,70,1,pontiac catalina
19,14.0,8,455.0,225.0,3086,10.0,70,1,buick estate wagon (sw)
6,14.0,8,454.0,220.0,4354,9.0,70,1,chevrolet impala
101,13.0,8,440.0,215.0,4735,11.0,73,1,chrysler new yorker brougham
7,14.0,8,440.0,215.0,4312,8.5,70,1,plymouth fury iii
74,11.0,8,429.0,208.0,4633,11.0,72,1,mercury marquis
97,12.0,8,429.0,198.0,4952,11.5,73,1,mercury marquis brougham
5,15.0,8,429.0,198.0,4341,10.0,70,1,ford galaxie 500
110,11.0,8,400.0,150.0,4997,14.0,73,1,chevrolet impala

## Comparison Operators

- **>=** : greater than or equal to
- **>** : greater than
- **<=** : less than or equal to
- **<** : less than
- **==** : equals
- **!=** : not equals

In [36]:
mpg_df['cylinders'] == 8

0       True
1       True
2       True
3       True
4       True
       ...
401    False
402    False
403    False
404    False
405    False
Name: cylinders, Length: 406, dtype: bool

In [37]:
(mpg_df['cylinders'] != 8).sum()

298

In [38]:
mpg_df['mpg'] >= mpg_df['acceleration']

0      True
1      True
2      True
3      True
4      True
       ...
401    True
402    True
403    True
404    True
405    True
Length: 406, dtype: bool

In [39]:
(mpg_df['mpg'] >= mpg_df['acceleration']) & (mpg_df['cylinders'] >= 4)

0      True
1      True
2      True
3      True
4      True
       ...
401    True
402    True
403    True
404    True
405    True
Length: 406, dtype: bool

In [40]:
(mpg_df['mpg'] >= mpg_df['acceleration']) | (mpg_df['cylinders'] >= 4)

0      True
1      True
2      True
3      True
4      True
       ...
401    True
402    True
403    True
404    True
405    True
Length: 406, dtype: bool

In [41]:
mpg_df['cylinders'].isin([4, 8])

0      True
1      True
2      True
3      True
4      True
       ...
401    True
402    True
403    True
404    True
405    True
Name: cylinders, Length: 406, dtype: bool

In [42]:
~mpg_df['cylinders'].isin([4, 8])

0      False
1      False
2      False
3      False
4      False
       ...
401    False
402    False
403    False
404    False
405    False
Name: cylinders, Length: 406, dtype: bool

## Data Conversion

In [43]:
mpg_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 406 entries, 0 to 405
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     406 non-null    int64
 2   displacement  406 non-null    float64
 3   horsepower    400 non-null    float64
 4   weight        406 non-null    int64
 5   acceleration  406 non-null    float64
 6   model_year    406 non-null    int64
 7   origin        406 non-null    int64
 8   car_name      406 non-null    object
dtypes: float64(4), int64(4), object(1)
memory usage: 28.7+ KB

We see that the displacement column is stored as float.  Let's convert it to integer using the **.astype()** method.

In [44]:
mpg_df['disp_as_int'] = mpg_df['displacement'].astype(int)

In [45]:
mpg_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 406 entries, 0 to 405
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     406 non-null    int64
 2   displacement  406 non-null    float64
 3   horsepower    400 non-null    float64
 4   weight        406 non-null    int64
 5   acceleration  406 non-null    float64
 6   model_year    406 non-null    int64
 7   origin        406 non-null    int64
 8   car_name      406 non-null    object
 9   disp_as_int   406 non-null    int32
dtypes: float64(4), int32(1), int64(4), object(1)
memory usage: 30.3+ KB

Note: You can also call the **.dtype** attribute to check how the column is stored.  Notice that there are no parentheses after **.dtype**; this is because we are accessing the attribute and not calling a method.

In [46]:
mpg_df['displacement'].dtype

dtype('float64')

In [47]:
mpg_df['disp_as_int'].dtype

dtype('int32')

In [48]:
mpg_df['disp_as_str'] = mpg_df['displacement'].astype(str)

In [49]:
mpg_df['disp_as_str']

0      307.0
1      350.0
2      318.0
3      304.0
4      302.0
       ...
401    140.0
402     97.0
403    135.0
404    120.0
405    119.0
Name: disp_as_str, Length: 406, dtype: object

## String Methods

In [50]:
mpg_df['car_name']

0      chevrolet chevelle malibu
1              buick skylark 320
2             plymouth satellite
3                  amc rebel sst
4                    ford torino
                 ...
401              ford mustang gl
402                    vw pickup
403                dodge rampage
404                  ford ranger
405                   chevy s-10
Name: car_name, Length: 406, dtype: object

Convert strings to all uppercase using **.str.upper()** method.

In [51]:
mpg_df['car_name'].str.upper()

0      CHEVROLET CHEVELLE MALIBU
1              BUICK SKYLARK 320
2             PLYMOUTH SATELLITE
3                  AMC REBEL SST
4                    FORD TORINO
                 ...
401              FORD MUSTANG GL
402                    VW PICKUP
403                DODGE RAMPAGE
404                  FORD RANGER
405                   CHEVY S-10
Name: car_name, Length: 406, dtype: object

Capitalize the first letter of every word using **.str.title()** method.

In [52]:
mpg_df['car_name'].str.title()

0      Chevrolet Chevelle Malibu
1              Buick Skylark 320
2             Plymouth Satellite
3                  Amc Rebel Sst
4                    Ford Torino
                 ...
401              Ford Mustang Gl
402                    Vw Pickup
403                Dodge Rampage
404                  Ford Ranger
405                   Chevy S-10
Name: car_name, Length: 406, dtype: object

Check if strings start with specified string using **.str.startswith()** method.  Conversely, there is also a **.str.endswith()** method.  **Note**: Python is **case-sensitive**.

In [53]:
mpg_df['car_name'].str.startswith('chev')

0       True
1      False
2      False
3      False
4      False
       ...
401    False
402    False
403    False
404    False
405     True
Name: car_name, Length: 406, dtype: bool

In [54]:
mpg_df['car_name'].str.startswith('chev').sum()

48

The **.contains()** method also supports regular expressions.  Note: The base Python package **re** is dedicated to regular expressions.

In this example, check if a string contains any digit 0-9.

In [55]:
mpg_df['car_name'].str.contains('\d').sum()

120

Replace characters with the **.replace()** method.

In [56]:
mpg_df['car_name'].str.replace('c', 'T')

0      Thevrolet Thevelle malibu
1              buiTk skylark 320
2             plymouth satellite
3                  amT rebel sst
4                    ford torino
                 ...
401              ford mustang gl
402                    vw piTkup
403                dodge rampage
404                  ford ranger
405                   Thevy s-10
Name: car_name, Length: 406, dtype: object

The **.str.strip()** method removes leading and trailing characters specified by the user.  There are also **.str.lstrip()** method which removes leading characters only and **.str.rstrip()** which removes trailing characters only.

In [57]:
mpg_df['disp_as_str'].str.strip('0')

0      307.
1      350.
2      318.
3      304.
4      302.
       ...
401    140.
402     97.
403    135.
404    120.
405    119.
Name: disp_as_str, Length: 406, dtype: object

The **.str.zfill()** method comes in handy dealing with string columns that are usually dealing with accounts.  In the example below, let's make a "pretend" account column.  Let's suppose that our account column needs to have leading 0's.

In [58]:
mpg_df['fake_acct_str'] = mpg_df['disp_as_str'].str.rstrip('.0')
mpg_df['fake_acct_str']

0      307
1       35
2      318
3      304
4      302
      ...
401     14
402     97
403    135
404     12
405    119
Name: fake_acct_str, Length: 406, dtype: object

In the example below, the 9 represents how long the string should be in length.  Strings shorter than 9 are left padded with 0's so that the new length is 9.  Nothing happens to strings with lengths >= 9.

In [59]:
mpg_df['fake_acct_str'].str.zfill(9)

0      000000307
1      000000035
2      000000318
3      000000304
4      000000302
         ...
401    000000014
402    000000097
403    000000135
404    000000012
405    000000119
Name: fake_acct_str, Length: 406, dtype: object

## Dealing With Missing Values

In [60]:
mpg_df['mpg'].isna()

0      False
1      False
2      False
3      False
4      False
       ...
401    False
402    False
403    False
404    False
405    False
Name: mpg, Length: 406, dtype: bool

In [61]:
mpg_df['mpg'].isna().sum()

8

In [62]:
mpg_df['horsepower'].isna().sum()

6

In [63]:
mpg_df['mpg'].isna().sum()

8

In [64]:
mpg_df.isna()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,car_name,disp_as_int,disp_as_str,fake_acct_str
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
401,False,False,False,False,False,False,False,False,False,False,False,False
402,False,False,False,False,False,False,False,False,False,False,False,False
403,False,False,False,False,False,False,False,False,False,False,False,False
404,False,False,False,False,False,False,False,False,False,False,False,False
405,False,False,False,False,False,False,False,False,False,False,False,False

Checking for # of blank values column wise.

In [65]:
mpg_df.isna().sum()

mpg              8
cylinders        0
displacement     0
horsepower       6
weight           0
acceleration     0
model_year       0
origin           0
car_name         0
disp_as_int      0
disp_as_str      0
fake_acct_str    0
dtype: int64

Checking for number of missing values row-wise.

In [66]:
mpg_df.isna().sum(axis=1)

0      0
1      0
2      0
3      0
4      0
      ..
401    0
402    0
403    0
404    0
405    0
Length: 406, dtype: int64

Fill blank values with 0's.

In [67]:
mpg_df['mpg_fill_0'] = mpg_df['mpg'].fillna(0)

In [68]:
mpg_df['mpg_fill_0'].isna().sum()

0

In [69]:
mpg_df[['mpg', 'mpg_fill_0']].describe()

              mpg  mpg_fill_0
count  398.000000  406.000000
mean    23.514573   23.051232
std      7.815984    8.401777
min      9.000000    0.000000
25%     17.500000   17.000000
50%     23.000000   22.350000
75%     29.000000   29.000000
max     46.600000   46.600000

Fill blank values with the average value.

In [70]:
mpg_df['mpg_fill_mean'] = mpg_df['mpg'].fillna(mpg_df['mpg'].mean())

**.fillna()** method also allows you to fill forward / backward.

In [71]:
mpg_df.iloc[list(range(9, 18)) + [38, 39, 366, 367]]

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,car_name,disp_as_int,disp_as_str,fake_acct_str,mpg_fill_0,mpg_fill_mean
9,15.0,8,390.0,190.0,3850,8.5,70,1,amc ambassador dpl,390,390.0,39,15.0,15.000000
10,NaN,4,133.0,115.0,3090,17.5,70,2,citroen ds-21 pallas,133,133.0,133,0.0,23.514573
11,NaN,8,350.0,165.0,4142,11.5,70,1,chevrolet chevelle concours (sw),350,350.0,35,0.0,23.514573
12,NaN,8,351.0,153.0,4034,11.0,70,1,ford torino (sw),351,351.0,351,0.0,23.514573
13,NaN,8,383.0,175.0,4166,10.5,70,1,plymouth satellite (sw),383,383.0,383,0.0,23.514573
14,NaN,8,360.0,175.0,3850,11.0,70,1,amc rebel sst (sw),360,360.0,36,0.0,23.514573
15,15.0,8,383.0,170.0,3563,10.0,70,1,dodge challenger se,383,383.0,383,15.0,15.000000
16,14.0,8,340.0,160.0,3609,8.0,70,1,plymouth 'cuda 340,340,340.0,34,14.0,14.000000
17,NaN,8,302.0,140.0,3353,8.0,70,1,ford mustang boss 302,302,302.0,302,0.0,23.514573
38,25.0,4,98.0,NaN,2046,19.0,71,1,ford pinto,98,98.0,98,25.0,25.000000
39,NaN,4,97.0,48.0,1978,20.0,71,2,volkswagen super beetle 117,97,97.0,97,0.0,23.514573
366,28.1,4,141.0,80.0,3230,20.4,81,2,peugeot 505s turbo diesel,141,141.0,141,28.1,28.100000
367,NaN,4,121.0,110.0,2800,15.4,81,2,saab 900s,121,121.0,121,0.0,23.514573

In [72]:
mpg_df.iloc[list(range(9, 18)) + [38, 39, 366, 367]].fillna(method='ffill')

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,car_name,disp_as_int,disp_as_str,fake_acct_str,mpg_fill_0,mpg_fill_mean
9,15.0,8,390.0,190.0,3850,8.5,70,1,amc ambassador dpl,390,390.0,39,15.0,15.000000
10,15.0,4,133.0,115.0,3090,17.5,70,2,citroen ds-21 pallas,133,133.0,133,0.0,23.514573
11,15.0,8,350.0,165.0,4142,11.5,70,1,chevrolet chevelle concours (sw),350,350.0,35,0.0,23.514573
12,15.0,8,351.0,153.0,4034,11.0,70,1,ford torino (sw),351,351.0,351,0.0,23.514573
13,15.0,8,383.0,175.0,4166,10.5,70,1,plymouth satellite (sw),383,383.0,383,0.0,23.514573
14,15.0,8,360.0,175.0,3850,11.0,70,1,amc rebel sst (sw),360,360.0,36,0.0,23.514573
15,15.0,8,383.0,170.0,3563,10.0,70,1,dodge challenger se,383,383.0,383,15.0,15.000000
16,14.0,8,340.0,160.0,3609,8.0,70,1,plymouth 'cuda 340,340,340.0,34,14.0,14.000000
17,14.0,8,302.0,140.0,3353,8.0,70,1,ford mustang boss 302,302,302.0,302,0.0,23.514573
38,25.0,4,98.0,140.0,2046,19.0,71,1,ford pinto,98,98.0,98,25.0,25.000000
39,25.0,4,97.0,48.0,1978,20.0,71,2,volkswagen super beetle 117,97,97.0,97,0.0,23.514573
366,28.1,4,141.0,80.0,3230,20.4,81,2,peugeot 505s turbo diesel,141,141.0,141,28.1,28.100000
367,28.1,4,121.0,110.0,2800,15.4,81,2,saab 900s,121,121.0,121,0.0,23.514573

In [73]:
mpg_df.iloc[list(range(9, 18)) + [38, 39, 366, 367, 368]].fillna(method='bfill')

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,car_name,disp_as_int,disp_as_str,fake_acct_str,mpg_fill_0,mpg_fill_mean
9,15.0,8,390.0,190.0,3850,8.5,70,1,amc ambassador dpl,390,390.0,39,15.0,15.000000
10,15.0,4,133.0,115.0,3090,17.5,70,2,citroen ds-21 pallas,133,133.0,133,0.0,23.514573
11,15.0,8,350.0,165.0,4142,11.5,70,1,chevrolet chevelle concours (sw),350,350.0,35,0.0,23.514573
12,15.0,8,351.0,153.0,4034,11.0,70,1,ford torino (sw),351,351.0,351,0.0,23.514573
13,15.0,8,383.0,175.0,4166,10.5,70,1,plymouth satellite (sw),383,383.0,383,0.0,23.514573
14,15.0,8,360.0,175.0,3850,11.0,70,1,amc rebel sst (sw),360,360.0,36,0.0,23.514573
15,15.0,8,383.0,170.0,3563,10.0,70,1,dodge challenger se,383,383.0,383,15.0,15.000000
16,14.0,8,340.0,160.0,3609,8.0,70,1,plymouth 'cuda 340,340,340.0,34,14.0,14.000000
17,25.0,8,302.0,140.0,3353,8.0,70,1,ford mustang boss 302,302,302.0,302,0.0,23.514573
38,25.0,4,98.0,48.0,2046,19.0,71,1,ford pinto,98,98.0,98,25.0,25.000000
39,28.1,4,97.0,48.0,1978,20.0,71,2,volkswagen super beetle 117,97,97.0,97,0.0,23.514573
366,28.1,4,141.0,80.0,3230,20.4,81,2,peugeot 505s turbo diesel,141,141.0,141,28.1,28.100000
367,30.7,4,121.0,110.0,2800,15.4,81,2,saab 900s,121,121.0,121,0.0,23.514573
368,30.7,6,145.0,76.0,3160,19.6,81,2,volvo diesel,145,145.0,145,30.7,30.700000

## Dealing With Duplicates

The **.unique()** method returns a pd.Series of unique values for the specified column.

In [74]:
mpg_df['cylinders'].unique()

array([8, 4, 6, 3, 5], dtype=int64)

The **.nunique()** method returns the number of unique values in the specified column.

In [75]:
mpg_df['cylinders'].nunique()

5

The **duplicated()** method returns a pd.Series of boolean values denoting of the value is a duplicate.  By default, the first value is not considered a duplicate.

In [77]:
mpg_df['cylinders']

0      8
1      8
2      8
3      8
4      8
      ..
401    4
402    4
403    4
404    4
405    4
Name: cylinders, Length: 406, dtype: int64

In [78]:
mpg_df['cylinders'].duplicated()

0      False
1       True
2       True
3       True
4       True
       ...
401     True
402     True
403     True
404     True
405     True
Name: cylinders, Length: 406, dtype: bool

In [79]:
mpg_df['cylinders'].duplicated().sum()

401

The **.drop_duplicates()** method removes rows that are duplicated.  By default, it removes rows that are exact duplicates.  Additionally, by default, the first occurrence is not considered a duplicate and is retained.

In [87]:
mpg_df_drop_dup = mpg_df.drop_duplicates()

In [88]:
len(mpg_df_drop_dup) == len(mpg_df)

True

You can specify which columns to check for duplicates and remove them.

In [82]:
mpg_df_drop_dup_cyl = mpg_df.drop_duplicates('cylinders')
mpg_df_drop_dup_cyl

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,car_name,disp_as_int,disp_as_str,fake_acct_str,mpg_fill_0,mpg_fill_mean
0,18.0,8,307.0,130.0,3504,12.0,70,1,chevrolet chevelle malibu,307,307.0,307,18.0,18.000000
10,NaN,4,133.0,115.0,3090,17.5,70,2,citroen ds-21 pallas,133,133.0,133,0.0,23.514573
21,22.0,6,198.0,95.0,2833,15.5,70,1,plymouth duster,198,198.0,198,22.0,22.000000
78,19.0,3,70.0,97.0,2330,13.5,72,3,mazda rx2 coupe,70,70.0,7,19.0,19.000000
281,20.3,5,131.0,103.0,2830,15.9,78,2,audi 5000,131,131.0,131,20.3,20.300000

In [86]:
len(mpg_df_drop_dup_cyl) == len(mpg_df)

False

In [84]:
mpg_df_drop_dup_cyl_origin = mpg_df.drop_duplicates(['cylinders', 'origin'])

In [85]:
mpg_df_drop_dup_cyl_origin

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,car_name,disp_as_int,disp_as_str,fake_acct_str,mpg_fill_0,mpg_fill_mean
0,18.0,8,307.0,130.0,3504,12.0,70,1,chevrolet chevelle malibu,307,307.0,307,18.0,18.000000
10,NaN,4,133.0,115.0,3090,17.5,70,2,citroen ds-21 pallas,133,133.0,133,0.0,23.514573
20,24.0,4,113.0,95.0,2372,15.0,70,3,toyota corona mark ii,113,113.0,113,24.0,24.000000
21,22.0,6,198.0,95.0,2833,15.5,70,1,plymouth duster,198,198.0,198,22.0,22.000000
36,28.0,4,140.0,90.0,2264,15.5,71,1,chevrolet vega 2300,140,140.0,14,28.0,28.000000
78,19.0,3,70.0,97.0,2330,13.5,72,3,mazda rx2 coupe,70,70.0,7,19.0,19.000000
130,20.0,6,156.0,122.0,2807,13.5,73,3,toyota mark ii,156,156.0,156,20.0,20.000000
218,16.5,6,168.0,120.0,3820,16.7,76,2,mercedes-benz 280s,168,168.0,168,16.5,16.500000
281,20.3,5,131.0,103.0,2830,15.9,78,2,audi 5000,131,131.0,131,20.3,20.300000

In [ ]:
len(mpg_df_drop_dup_cyl_origin) == len(mpg_df)

## Math Operations with DataFrames

In [ ]:
mpg_df['weight_standardized'] = (mpg_df['weight'] - mpg_df['weight'].mean()) / mpg_df['weight'].std()

In [ ]:
mpg_df[['weight', 'weight_standardized']].head()

## Functions in Python

Functions are defined using the reserved keyword **def**.  Indented code block lets Python know what included in the function definition.

In [ ]:
def subtract_none(a, b):
    a - b

In [ ]:
bad_sub = subtract_none(5, 1)

You will notice that when we call the variable bad_sub, we got nothing back; we should be expecting the value 4.  The reason bad_sub returns nothing back is because our function definition did not include a return statement.  Therefore, the function does the operation, but does not save the results.

In [ ]:
bad_sub

We'll define the function correctly this time with a return statement.

In [ ]:
def subtract(a, b):
    return a - b

In [ ]:
good_sub = subtract(5, 1)

In [ ]:
good_sub

In Python, functions do not execute any code after the first return statement.  In the following example, we have 2 return statements for our subtract_return2 function.  However, when we execute this function, nothing after **return a - b** is executed.

In [ ]:
def subtract_return2(a, b):
    return a - b
    return b - a

In [ ]:
subtract_return2(5, 1)

Here is a more relevant example where we create our own standardize column function.  Note: The scikit-learn (sklearn) package performs standardization for you.

In [ ]:
def standardize_col(col_values):
    return (col_values - col_values.mean()) / col_values.std()

In [ ]:
standardize_col(mpg_df['weight'])

In [ ]:
mpg_df['weight_standardized_from_func'] = standardize_col(mpg_df['weight'])

In [ ]:
mpg_df['weight_standardized'] != mpg_df['weight_standardized_from_func']

In [ ]:
(mpg_df['weight_standardized'] != mpg_df['weight_standardized_from_func']).sum()

It is good practice to add **docstrings** to your functions.  This allows your to call the **help()** function, which was discussed at the beginning of this tutorial.

In [ ]:
def standardize_col_docstring(col_values):
    """
    This function standardizes a given pd.Series and returns the standardized values as another pd.Series.
    """
    return (col_values - col_values.mean()) / col_values.std()

In [ ]:
help(standardize_col_docstring)

In [ ]:
help(standardize_col)

## Groupby

In [ ]:
mpg_df.groupby('cylinders')['weight'].mean()

In [ ]:
mpg_df.groupby('cylinders')['weight'].apply(standardize_col)

In [ ]:
mpg_df.groupby('cylinders')['weight'].describe()

You can transpose DataFrames with the **.T**.

In [ ]:
mpg_df.groupby('cylinders')['weight'].describe().T

In [ ]:
mpg_df.groupby(['cylinders', 'origin']).mean()

## A Word About Indices

In [ ]:
df1 = pd.DataFrame({'x': [1, 2, 3]})
df1

In [ ]:
df2 = pd.DataFrame({'y': [1, 2, 3]})
df2.index = [2, 1, 0]
df2

In [ ]:
df1['x'] + df2['y']

## Merging

Suppose we have a separate DataFrame that contains the grouped weight averages.

In [ ]:
mpg_grpby = mpg_df.groupby(['cylinders', 'origin'])['weight'].mean().reset_index()

In [ ]:
mpg_grpby = mpg_grpby.rename(columns={'weight': 'grpby_avg_weight'})

In [ ]:
mpg_grpby

We would like to merge this DataFrame with our original DataFrame.  This can be done using the **pd.merge()** function.  By default, this function performs an inner join.  You can pass in other arguments to change how to perform the merging.

In [ ]:
mpg_merged = pd.merge(mpg_df, mpg_grpby, on=['cylinders', 'origin'])
mpg_merged.columns

In [ ]:
mpg_merged.head()

In [ ]:
mpg_merged.tail()

## Subsetting Data

#### .iloc Method

In [45]:
mpg_df.iloc[[0, 2, 3], [1, 2]]

   cylinders  displacement
0          8         307.0
2          8         318.0
3          8         304.0

In [46]:
mpg_df.iloc[2:, :-3]

      mpg  cylinders  displacement  horsepower  weight  acceleration
2    18.0          8         318.0       150.0    3436          11.0
3    16.0          8         304.0       150.0    3433          12.0
4    17.0          8         302.0       140.0    3449          10.5
5    15.0          8         429.0       198.0    4341          10.0
6    14.0          8         454.0       220.0    4354           9.0
..    ...        ...           ...         ...     ...           ...
401  27.0          4         140.0        86.0    2790          15.6
402  44.0          4          97.0        52.0    2130          24.6
403  32.0          4         135.0        84.0    2295          11.6
404  28.0          4         120.0        79.0    2625          18.6
405  31.0          4         119.0        82.0    2720          19.4

[404 rows x 6 columns]

#### .loc Method

## Lagging Variables

In [89]:
mpg_df['mpg_lag1'] = mpg_df['mpg'].shift(1)

In [90]:
mpg_df['mpg_lag2'] = mpg_df['mpg'].shift(2)

In [91]:
mpg_df[['mpg', 'mpg_lag1', 'mpg_lag2']].head(10)

    mpg  mpg_lag1  mpg_lag2
0  18.0       NaN       NaN
1  15.0      18.0       NaN
2  18.0      15.0      18.0
3  16.0      18.0      15.0
4  17.0      16.0      18.0
5  15.0      17.0      16.0
6  14.0      15.0      17.0
7  14.0      14.0      15.0
8  14.0      14.0      14.0
9  15.0      14.0      14.0

## Rolling Functions

In [93]:
np.random.seed(1234)
stock_prices = pd.DataFrame({
    'day': range(1, 366), 
    'stock': np.round(np.abs(np.random.normal(loc=1000, scale=1000, size=365)), 2)
})

In [95]:
stock_prices.head(20)

    day    stock
0     1  1471.44
1     2   190.98
2     3  2432.71
3     4   687.35
4     5   279.41
5     6  1887.16
6     7  1859.59
7     8   363.48
8     9  1015.70
9    10  1242.68
10   11  2150.04
11   12  1991.95
12   13  1953.32
13   14  1021.25
14   15   665.92
15   16  1002.12
16   17  1405.45
17   18  1289.09
18   19  2321.16
19   20   546.91

In [96]:
stock_prices['rolling_5_sum'] = stock_prices['stock'].rolling(5).sum()

In [97]:
stock_prices['rolling_5_mean'] = stock_prices['stock'].rolling(5).mean()

In [99]:
stock_prices['rolling_5_std'] = stock_prices['stock'].rolling(5).std()

In [100]:
stock_prices['rolling_5_min'] = stock_prices['stock'].rolling(5).min()

In [101]:
stock_prices['rolling_5_max'] = stock_prices['stock'].rolling(5).max()

In [102]:
stock_prices.head(15)

,day,stock,rolling_5_sum,rolling_5_mean,rolling_5_std,rolling_5_min,rolling_5_max
0,1,1471.44,NaN,NaN,NaN,NaN,NaN
1,2,190.98,NaN,NaN,NaN,NaN,NaN
2,3,2432.71,NaN,NaN,NaN,NaN,NaN
3,4,687.35,NaN,NaN,NaN,NaN,NaN
4,5,279.41,5061.89,1012.378,941.496266,190.98,2432.71
5,6,1887.16,5477.61,1095.522,1008.166886,190.98,2432.71
6,7,1859.59,7146.22,1429.244,904.758765,279.41,2432.71
7,8,363.48,5076.99,1015.398,797.953636,279.41,1887.16
8,9,1015.70,5405.34,1081.068,777.454481,279.41,1887.16
9,10,1242.68,6368.61,1273.722,635.536574,363.48,1887.16
10,11,2150.04,6631.49,1326.298,705.944904,363.48,2150.04
11,12,1991.95,6763.85,1352.770,732.908798,363.48,2150.04
12,13,1953.32,8353.69,1670.738,506.228352,1015.70,2150.04
13,14,1021.25,8359.24,1671.848,504.435897,1021.25,2150.04
14,15,665.92,7782.48,1556.496,666.895390,665.92,2150.04

## Exporting DataFrames